h1 {
    font-family: sans-serif;
    font-weight: bold;
    background-color: black;
}
h1 .white {
    color: white;
}

h1 .blue {
    color: cyan;
}

h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
}
h3 {
    background-color: lightblue;
    color: darkblue;
    text-align: right;
    text-decoration: underline;
}