.nav {
    border: 2px solid black;
    background-color: black;
    padding-left: 10px;
    overflow: hidden;
    color: white;
}

.nav-title {
    float: left;
    margin-right: 20px;
}

.nav > a {
    text-decoration: none;
    color: white;
    float: left;
    margin: 10px;
    margin-top: 35px;
    text-align: center;
}

.active {
    font-weight: bold;
}

.btn {
    box-shadow: 4px 5px black;
    background-color: rgb(0, 217, 255);
    color: white;
    float: right;
    margin: 30px;
    font-size: 20px;

}

.body {
    font-size: 20px;
}

.container {
    display: flex;
    width: 900px;
    margin: 20px;
}

.col-1 {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 20px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100px;
    margin: 20px;
}

.row-1 {
    border: 2px solid gray;
    margin: 20px;
    flex-direction: row;
}

.row-1-title {
    background-color: aqua;
    height: 75px;
}

.row-1-body {
    margin: 10px;
}

.edit > img {
    height: 20px;
}

.location > img {
    height: 20px;
    margin-right: 5px;
}

.name {
    font-size: 30px;
    margin-bottom: 15px;
}

.location{
    font-size: 20px;
    margin-bottom: 15px;
}

.edit > a {
    font-size: 18px;
    margin-top: 15px;
    color: black;
}

.row-2 {
    border: 2px solid gray;
    margin: 20px;
    flex-direction: row;
}

.row-2-title {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    align-items: center;
}

.ed {
    margin-left: 10px;;
}

.row-2-body {
    height: 150px;
}

.ed-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.ed-date {
    font-size: 20px;
    color: gray;
    margin: 10px;
}

.ed-body {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}


.row-3 {
    border: 2px solid gray;
    margin: 20px;
    flex-direction: row;
}

.row-3-title {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    align-items: center;
}

.requests {
    border: 1px solid gray;
    background-color: gray;
    color: black;
    border-radius: 50%;
    width: 20px;
    margin: 10px;
}

.row-3-body{

}

.conn-name {
    display: flex;
    margin: 5px;
    margin-left: 10px;
    align-items: center;
}

.conn-photo {
    height: 30px;
    margin: 5px;
}

.accept {
    height: 20px;
    margin: 5px;
    margin-left: 70px;
}

.close {
    height: 20px;
    margin: 5px;
}

.row-4 {
    border: 2px solid gray;
    margin: 20px;
    flex-direction: row;
}

.row-4-title {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    align-items: center;
}

.connections {
    border: 1px solid gray;
    background-color: gray;
    color: black;
    border-radius: 50%;
    width: 40px;
    margin: 10px;
}

.row-4-footer {
    display: flex;
    border-top: 2px solid gray;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding: 5px;
}

.view {
    flex-direction: row;
}