* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    /* outline: 1px red dashed; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 10px 200px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.nav-profile {
    color: white;
    margin-right: 10px;
}

#active {
    font-weight: bold;
}

.sign_out {
    display: flex;
    box-shadow: 4px 5px black;
    background-color: #13A3B8;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    padding: 0 200px;
}

.col-1 {
    display: flex;
    /* align-items: baseline; */
    flex-direction: column;
    width: 600px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.user-photo {
    align-self: baseline;
    margin: 35px 10px;
    top: 35px;
    left: 30px;
    height: 70px;
    border-radius: 50%;
}

.row-1 {
    border: 2px solid gray;
    margin-bottom: 10px;
    flex-direction: row;
}

.row-1-title {
    background-color: #13A3B8;
    height: 75px;
}

.row-1-body {
    margin: 10px;
    margin-top: 25px;
}

.body {
    font-size: 20px;
    margin-bottom: 5px;
}

.edit > img {
    height: 20px;
    margin-right: 5px;
}

.location > img {
    height: 20px;
    margin-right: 5px;
}

.name {
    font-size: 30px;
    margin-bottom: 15px;
}

.location{
    font-size: 20px;
    margin-bottom: 15px;
}

.edit > a {
    font-size: 18px;
    margin-top: 15px;
    color: black;
}

.row-2 {
    border: 2px solid gray;
    /* margin: 20px; */
    flex-direction: row;
}

.row-2-title {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    align-items: center;
}

.ed {
    margin-left: 10px;;
}

.row-2-body {
    height: 150px;
}

.ed-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.ed-date {
    font-size: 20px;
    color: gray;
    margin: 10px;
}

.ed-body {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}


.row-3 {
    border: 2px solid gray;
    margin-bottom: 10px;
    flex-direction: row;
}

.row-3-title {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    align-items: center;
}

.requests {
    border: 1px solid gray;
    background-color: gray;
    color: black;
    border-radius: 50%;
    width: 20px;
    margin: 10px;
    text-align: center;
}

.conn-name {
    display: flex;
    margin: 5px;
    margin-left: 10px;
    align-items: center;
}

.conn-photo {
    height: 30px;
    margin: 5px;
}

.accept-1 {
    height: 20px;
    margin: 5px;
    margin-left: 40px;
}

.accept-2 {
    height: 20px;
    margin: 5px;
    margin-left: 47px;
}

.close {
    height: 20px;
    margin: 5px;
}

.row-4 {
    border: 2px solid gray;

    flex-direction: row;
}

.row-4-title {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    align-items: center;
}

.connections {
    border: 1px solid gray;
    background-color: gray;
    color: black;
    border-radius: 50%;
    width: 40px;
    margin: 10px;
    text-align: center;
}

.row-4-footer {
    display: flex;
    border-top: 2px solid gray;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding: 5px;
}

.view {
    flex-direction: row;
}