.nav {
    border: 2px solid black;
    background-color: black;
    padding-left: 10px;
    overflow: hidden;
    color: white;
}

.nav-title {
    float: left;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    float: left;
    margin: 10px;
    margin-top: 35px;
    text-align: center;
}

.active {
    font-weight: bold;
}

.btn {
    box-shadow: 4px 5px black;
    background-color: rgb(0, 217, 255);
    color: white;
    float: right;
    margin: 30px;
    font-size: 20px;

}

.container-1 {
    display: block;
    width: 500px;
    height: 300px;
    border: 3px solid black;
    justify-content: center;
}

.photo > img {
    position: fixed;
    top: 35px;
    left: 30px;
    height: 90px;

}

.row-1 {
    background-color: aqua;
    width: inherit;
    height: 75px;
    margin-bottom: 40px;
}

.row-2 {
    width: inherit;
    height: 225px;
    margin-left: 20px;
}

img {
    height: 20px;
    margin-right: 5px;
}

.name {
    font-size: 30px;
    margin-bottom: 15px;
}

.location{
    font-size: 20px;
    margin-bottom: 15px;
}

.body {
    font-size: 20px;
}

.edit {
    font-size: 18px;
    margin-top: 15px;
}