.container {
    margin: 15px;
    background-color: red;
    display: flex;
    width: 900px;
    justify-content: space-around;
}

.column-1 {
    background-color: orange;
    flex-direction: column;
    flex:3;
    display: flex;
    margin: 20px;
}

.column-2 {
    background-color: blue;
    flex-direction: column;
    flex: 1;
    display: flex;
    margin: 20px;
}

.row-1 {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    height: 150px;
    margin: 20px;
}

.row-2 {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    flex: 1;
    margin: 20px;
}

.row-3 {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}

.row-4 {
    display: flex;
    flex-direction: row;
    background-color: rgb(93, 241, 30);
}
