.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: black;
}

.navbar-left{
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    margin: 5px;
    list-style: none;
}

.nav-item a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.nav-profile {
    color: white;
    margin-right: 10px;
}

#active {
    font-weight: bold;
}

.navbar-right button {
    border: 1px solid red;
}